@model ProductPageViewModel

@{
    ViewBag.Title = "Home Page";
    var actionName = (string?)ViewBag.ActionName ?? "Index";
}

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var product in Model.Products)
            {
                <div class="col mb-5">
                    <div class="card h-100">
                        <img class="card-img-top" src="@product.Image" alt="..." />
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">@product.Name</h5>
                                @product.Price
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <form method="post" asp-area="" asp-action="AddToCart" asp-controller="Cart">
                                    <input type="hidden" name="productId" value="@product.Id" />
                                    <button type="submit" class="btn btn-outline-dark mt-auto">Add to cart</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@if (Model.TotalPages > 1)
{
    <nav aria-label="Page navigation" class="mt-4">
        <ul class="pagination justify-content-center">
            <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                <a class="page-link" asp-action="@actionName" asp-route-page="@(Model.PageNumber - 1)">Previous</a>
            </li>
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                    <a class="page-link" asp-action="@actionName" asp-route-page="@i">@i</a>
                </li>
            }
            <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                <a class="page-link" asp-action="@actionName" asp-route-page="@(Model.PageNumber + 1)">Next</a>
            </li>
        </ul>
    </nav>
}